             <table><tr>
               <div id="middle_area-left" >
               <p>Welcome this will be the survey page for user after clicking on a priority icon.</p>
               </div>
               <div id="middle_area-center" >
               <%= render :partial => 'form' %>
               </div>
               <div id="middle_area-right" >
               <p>Welcome this will be the survey page for user after clicking on a priority icon.</p>
               </div>
               </tr>
               </table>
