

/*///////////////////////////////////////////////////////
=========================================================

~ HTML

=========================================================
///////////////////////////////////////////////////////*/


body{
        background:#000000 ;
        _background:#000000;
        padding: 0;
        margin: 0;
        color:#333;
        font-family:  Helvetica, Arial, sans-serif;
        font-size:13px;
        line-height:18px;
        }


h3{ font-size: 13px; }


/*///////////////////////////////////////////////////////
=========================================================

~ OC Spinner

=========================================================
///////////////////////////////////////////////////////*/


#loading{
        background: url('throbber-bg.png') repeat left top;
        _background: url('throbber-bg.gif') repeat left top;
        width:100%;
        height:100%;
        position:fixed;
        }

#loading div{
    width:1004px;
    margin:0 auto;
    text-align:center;
    position:relative;
    top:30%;
}




/*///////////////////////////////////////////////////////
=========================================================

~ Extra Description Option

=========================================================
///////////////////////////////////////////////////////*/

.extra_description{
        padding: 30px 30px 15px 30px;
        }

.extra_description p{
        padding-bottom: 15px;
        }



/*///////////////////////////////////////////////////////
=========================================================

~ Header

=========================================================
///////////////////////////////////////////////////////*/

#wrapper{
        width:1004px;
        margin:0 auto;
        padding:0px;
        }



.top_bar{
        background: url('top_bar.png') center top no-repeat;
        padding: 0;
        margin: 0;
        }


#login{
        position: absolute;
        padding: 0px;
        z-index: 456782323;
        background: #fff url('top_bar.png') -830px -36px no-repeat;
        width: 315px;
        }



#header{
        padding:0px 0 8px 0;

        }


#header h1{
        color:#000;
        font-size:18px;
        margin: 0;
        padding: 0;
        clear: both;
        }



        
        
        
#header .left{
        width:306px;
        }


#header .tagline{
        border-left: 1px solid #eee;
        padding: 5px 0 5px 33px;
        float: left;
        margin: 16px 0 0 20px;
        font-style: italic;
        font-size: 11px;
        color: #4d749a;
        }

#header .tagline p{
        margin: 3px 0 0 0;
        padding: 0;
        font-size: 14px;

        }

#header .right{
        text-align:right;
        width:290px;
        margin: 23px 0px 0;
        float: right;
        }

#header h1{
        width: 257px;
}

a.logo{
        float:left;
        margin-right: 180px;
        display:inline-block;
        margin: 0px;
        width: 378px;
        padding-top:88px;
        overflow: hidden;
        height: 0;
        background: url('LogoBanner_VoteWize.png') no-repeat 17px 6px;
        }

a.logo:hover{
        background: url('LogoBanner_VoteWize.png') no-repeat 17px -100px;
        }




#header .left p, #header .left a, #header .right #account p{
        text-decoration:none;
        color:#4cd9cd;
        padding: 0;
        margin: 0;
        }

#header .left .title{
        margin: 5px 0 1px 65px;
        display: block;
        }

#header .left p{
        margin: 4px 0 0px 8px;
        display: block;
        color:#666;
        float: left;
        }

#header .project{
        font-size: 12px;
        font-weight: normal;
        color:#4cd9cd;
        padding-left: 95px !important;
        float: left;
        margin: 0;
        line-height: 30px;
        }



/* account login */

#user_account{
        font-size: 11px;
        padding: 4px 200px 4px 20px;
        margin-bottom: 4px;
        cursor: default;
        float: right;
        position: relative;
        }



#user_account a{
        padding: 0px 0 0 4px;
        }

#user_account b a{
        padding:0px;
        }


        #middle_area {
        width: 1000px;
        background:#deb887;
        	
        }
        #middle_area table {
        width: 900px;
        background:#eed9b9 ;
        margin-left: 50px;
        	
        }
        #middle_area ul column1{
        list-style-type:none; 	
        font-size:12px;
        margin: 0;
        padding: 0;
        width: 300px;
        margin: auto;
        display:inline;
        }
        #middle_area ul column2{
        font-size:12px;
        margin: 0;
        padding: 0;
        width: 300px;
        margin: auto;
        display:block;
        }
        #middle_area ul column3{
        font-size:12px;
        margin: 0;
        padding: 0;
        width: 300px;
        margin: auto;
        display:block;
        }

/*///////////////////////////////////////////////////////
=========================================================

~ Buttons

=========================================================
///////////////////////////////////////////////////////*/



/*///////////////////////////////////////////////////////

~ Pagination

///////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////

~ Nav

///////////////////////////////////////////////////////*/

#nav{
        width:1004px;
        _height:48px;
        _overflow: hidden;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;

  border: 1px solid rgba(0,0,0,.3);
  border-bottom: 1px solid rgba(0,0,0,.9);
  border-top: 1px solid rgba(0,0,0,.1);
 }

#nav .left, #nav .right, #nav ul{
  height:80px;
        }

#nav .left{
        padding-left:3px;}

#nav .right{}

#nav ul{
        padding: 12px 0 0 10px;
        cursor: default !important;
        }

#nav ul li{
  padding: 0px ;
  display: block ;
  float: left ;
  margin: 0 13px 0 0 ;
  cursor: pointer ;
  white-space:nowrap ;
        }

#nav ul li a{
  display: block;
  font-size: 12px;
  padding: 2px 16px;

  text-shadow: 0 1px 0px #fff;
  opacity: .7;
  color: rgba(0,0,0,.9);

  -webkit-border-radius: 20px;

  }

#nav ul li a span{
        display: block;
        cursor: pointer;
        }

#nav a:active{
        background-position: right center;
        color: #000;
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.9);

         }




#nav a:hover span, #nav #tool_nav:hover a span{
        background-position: left center;
        }

#nav li ul.sub, #wiki li ul{ /* second-level lists */
        position: absolute;

  background: #eee;

        height:auto;
        margin: 0px 0px 0 -35px;
        width:165px;
        padding: 0 0 0px 0px;
        left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */

        -webkit-box-shadow: 0 2px 4px rgba(0,0,0, .7);
        -ms-box-shadow: 0 2px 4px rgba(0,0,0, .7);
        -o-box-shadow: 0 2px 4px rgba(0,0,0, .7);
        box-shadow: 0 2px 4px rgba(0,0,0, .7);




        }

#nav li:hover ul.sub, #wiki li:hover ul{ /* lists nested under hovered list items */
        z-index:1000;
        left: auto;
        }

#nav li ul.sub li a, #wiki li ul li a{
        display: block;
        width:155px;
        clear: both;
        padding: 5px 0 5px 10px;
        background: none;


  -webkit-border-radius: 0px;
        }

#nav li ul.sub li a span, #wiki li ul li a span{
        background: none;
        }

#nav li ul.sub li a:hover, #wiki li ul li a:hover{
        background: #ddd;

        }



/* sub-nav */


#nav li.sub{
        font-weight: normal !important;

        }

#nav li.sub a{
        font-weight: normal !important;

        }

#battle_nav{
        margin-left: 0px !important;
        }

#tool_nav span{
        padding-right: 0;

}
#tool_nav {
margin: 0 !important;
}




/*///////////////////////////////////////////////////////

~ Content

///////////////////////////////////////////////////////*/

#content{
  border-left:#c2c2c2 solid 1px;
  border-right:#c2c2c2 solid 1px;
  clear: both;
    background: #fff right 0px no-repeat;

position: relative;

/*
background: url('grid_.png') center 0px no-repeat;
*/

}

#content-main{
  width: 745px;
  float: left;
  overflow: hidden;
}
#tertiary-content{
width: 257px;
float: left;
overflow:hidden;
}

#tertiary-content li{
list-style: none;
}

.main{
  padding:0 25px;
  background:#fff;
  clear:both;
}


.less{

}

.col1 .feed, .col2 .feed{
float: right;
}

a.feed{
text-transform: uppercase;
        background: url('feed_small_gray.png') no-repeat right center;
_background: url('feed_small_gray.gif') no-repeat right center;
        padding-right:14px;
        text-decoration: none;
}

/* lists
ul.button li{
  list-style-image: url('button-list.png');
  list-style-position:inside;
}
 */
.graybar{
  float:left;
  background: url('graybar.png') repeat-x left top;
_background: url('graybar.gif') repeat-x left top;
  color:#717171;
  width:377px;

}
.graybar a, .graybar p{
  position:relative;
  display:block;
  line-height:51px;
  padding:4px 20px 0 101px;
  background: url('graybar-arrow.png') no-repeat 344px center;
_background: url('graybar-arrow.gif') no-repeat 344px center;
}
.graybar p{
  background: none;
}

/* Commentaries */
body.news #news_list, body.blogs #blogs_list{
  clear:both;
}
.c_item{
  margin-bottom:16px;
}

.c_item p{
color: #777;
min-height: 60px;
padding-top: 6px;
}

.c_item .source{
margin-bottom: 8px;
}

.combox{
width: 100%;
  margin:6px 0 18px 0;
}
.combox td{
 font-size:10px;
 height:29px;
 background: url('combox_bg.png') repeat-x left center;
_background: url('combox_bg.gif') repeat-x left center;
 vertical-align:middle;
}
.combox td.left{
  background: url('combox_left.png') no-repeat left center;
_background: url('combox_left.gif') no-repeat left center;
  width:7px;
}
.combox td.center{
  background: url('combox_center.png') no-repeat left center;
_background: url('combox_center.gif') no-repeat left center;
  width:3px;
}
.combox td.ratez_form{
  background: url('combox_right.png') no-repeat right center;
_background: url('combox_right.gif') no-repeat right center;
  padding-right:7px;
}
.ratez{
  padding:0 14px 0 10px;
width: 30px;
}

.ratez_form{

}

.ratez span{
  color:#9B9B9B;
  font-family:Arial, sans-serif;
}
.mypnz_txt {
  color:#666;
  font-weight:bold;
    padding: 2px 14px 0 5px;
  font-family:Arial, sans-serif;
}

.mypnz_img{
width: 20px;
}


#footer-wrapper{
  width:1004px;
border-top: 1px solid #bbb;
clear: both;
margin: 0 auto 40px;
}
#footer-wrapper .left{
  padding-left:6px;
  background:#fff url('footer-left.png') no-repeat left bottom;
_background:#fff url('footer-left.gif') no-repeat left bottom;
}
#footer-wrapper .right{
  padding-right:6px;
  background:#fff url('footer-right.png') no-repeat right bottom;
_background:#fff url('footer-right.gif') no-repeat right bottom;
}
#footer{
  padding:45px 0 42px 54px;
  background:#fff url('footer-bg.png') repeat-x left bottom;
_background:#fff url('footer-bg.gif') repeat-x left bottom;
}

#footer h5{
display: none;
}

.footlist{
float:left;
border-right: 1px solid #ededed;
padding-right: 81px;
font-size: 12px !important;
margin: 0 81px 0 0;
}
.footlist.last{
  margin-right:0;
        border: none;
        padding-right: 0px;
}
#subfoot{
  width:980px;
  margin:15px auto 40px auto;
  font-weight: normal;
  font-size: 11px;

}

#subfoot p{
text-align: center;
margin-bottom: 5px;
color: #666;
}

#subfoot #stats{
}

/* images */
img.c_image{
        display: none;
        float:left;
        margin:0 12px 12px 0;
}



/* standard view for lists */

#heading{
padding: 28px 30px 10px 27px;
background: #c4dcf3;
background: rgba(196,220,243,0.3);
}

#heading h2{
padding: 5px 0 0 0;
float: left;
min-height: 20px;
font-style: italic;
font-family: Georgia, Times, serif;
}

#heading h2 span{
display: none;
font-weight: normal;
font-size: 12px;
}

#heading p{
float: left;
font-size: 11px;
text-align: left;
padding: 30px 25px 0 0 ;
font-style: italic;
color: #999
}
#heading .jqmnContent p{
  float:none;
  padding:10px;
  font-style: normal;
  margin-top:0;
  font-size:12px;
}


#heading.group {
  height: 45px !important;
  padding: 0px 0 30px 0px!important;
  border-bottom: 1px solid #ddd;
}

#heading.group img {
  float: left;
  margin: 5px;
}
#heading.group h2 {
  margin: 28px 0 0 30px !important;
  padding: 0;

}
h2.group_name a {
  text-decoration: none;
}
h2.group_name a:hover {
  text-decoration: underline;
}
h2.group_name a:visited {
  color:#333;
}
#heading.group .thumb{
float: left;
width: 75px;
height: 75px;
padding: 0 !important;
}

#heading.group .thumb img {
  width: 75px;
  height: 75px;
  padding: 0;
  margin: 0 !important;
}

.sidebar{
width: 384px;
float: left;
overflow: hidden;
background: #fff;
height:600px;
}

.contain_list{
height: 600px;
background: url(sen-sort.png) left top repeat-x;
_background: url(sen-sort.gif) left top repeat-x;
}

#view_button{
float: right;
padding-top: 28px;
margin: 4px 0px 0 0;
height: 0;
overflow: hidden;
width: 52px;
background: url(sprites.png) left -113px repeat-x;
_background: url(sprites.gif) left -113px repeat-x;
}

#view_button.swap{
background: url(sprites.png) left -167px repeat-x;
_background: url(sprites.gif) left -167px repeat-x;
}

#view_button:active{
background: url(sprites.png) left -140px repeat-x;
_background: url(sprites.gif) left -140px repeat-x;
}

